@media print, (max-width: 1187px) {


    header .menu .item a {
        font-size: 13px;
    }
    .security_img.dn {
        display: none;
    }
    .security_info {
        max-width: 100%;
    }
    .security_wrap {
        align-items: center;
    }


}
