/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 14px;
    --font_size_title: 28px;
    --font_family: 'Unbounded';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: #fff;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 42;
    top: 123px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    margin-right: auto;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    z-index: 103;
}

header .close_btn {
    display: none;
    align-items: center;
    justify-content: center;
}

header .close_btn img {
    display: block;
    margin: 0 auto;
}

header {
    background: #efefef;
    position: relative;
    z-index: 55;
}

header .cont {
    display: flex;
    align-items: center;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: 15px;
    margin-right: 20px;
}

header .menu .item a {
    text-decoration: none;
    color: var(--text_color);
    font-size: 14px;
    font-weight: 600;
    transition: all .4s;
    white-space: nowrap;
    position: relative;
}

header .menu .item a:hover {
    color: #004EF5;
}

.header_logo {
    margin-right: 10px;
    width: 131px;
    height: 120px;
}

.header_logo img {
    width: 100%;
    height: 100%;
}

.header_phones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_phone {
    text-decoration: none;
    color: #004EF5;
    font-size: 18px;
    font-weight: 600;
}

.header_phone {
    white-space: nowrap;
}

.header_phone+.header_phone {
    margin-top: 4px;
}

.header_soc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.header_soc a+a {
    margin-left: 10px;
}

.header_contacts {
    margin-left: auto;
    margin-top: 40px;
}

.header_soc a {
    width: 20px;
    height: 20px;
}



.first-section {
    background: #efefef;
    padding-bottom: 135px;
    position: relative;
}

.first-section:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 182px;
    left: 0;
    bottom: -1px;
    background: url(../images/studio_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.first-section_wrap {
    display: flex;
    position: relative;
    margin-bottom: 86px;
}

.first-section_title {
    color: var(--text_color);
    font-size: 36px;
    font-weight: 800;
    line-height: 167%;
    margin-bottom: 25px;
    max-width: 616px;
}

.first-section_title span {
    color: #004EF5;
}

.first-section .btn {
    margin-left: 0;
}

.first-section_img {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    right: -55px;
    top: -105px;
    width: 631px;
    height: 669px;
}

.first-section_img img {
    width: 100%;
    height: 100%;
}

.first-section_bottom {
    margin-left: 225px;
    display: flex;
    list-style: none;
}

.first-section_bottom li {
    color: var(--text_color);
    font-size: 16px;
    font-weight: 500;
}

.first-section_bottom li+li {
    margin-left: 37px;
}

.first-section_bottom li.active {
    color: #004EF5;
}

.support .first-section_title {
    max-width: 100%;
    margin-bottom: 7px;
}

.security .first-section_title {
    max-width: 100%;
    margin-bottom: 7px;
}

.first-section .training_items {
    margin-left: -30px;
    margin-bottom: -15px;
}

.first-section .training_items>* {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
}

.first-section .training_item-img img {
    height: 184px;
    object-fit: cover;
}

.security_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.security_info {
    max-width: 362px;
    width: 100%;
    margin: 0 5px 0 41px;
}

.security_info-title {
    color: var(--text_color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

.security_info-text {
    color: var(--text_color);
    font-size: 18px;
}

.security_info-text p+p {
    margin-top: 20px;
}

.swiper {
    overflow: visible !important;
}

.swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}

.swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.security_img {
    width: 370px;
    height: 382px;
}

.security_img img {
    width: 100%;
    height: 100%;
}




.studio {
    background: var(--text_color);
    padding: 28px 0 30px;
    z-index: 2;
    position: relative;
}

.studio:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 176px;
    left: 0;
    bottom: -174px;
    background: url(../images/studio_bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.studio_title {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 8px;
}

.studio_title span {
    color: #62FA7F;
}

.studio_text {
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    z-index: 2;
    margin-bottom: 157px;
    position: relative;
}

.studio_box {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 270px;
}

.studio_box:last-child {
    margin-bottom: 0;
}

.studio_box-wrap {
    position: relative;
}

.studio_box-img {
    position: absolute;
}

.studio_box:nth-child(2n + 1) .studio_box-img {
    right: -10px;
    top: -265px;
    width: 684px;
    height: 694px;
}

.studio_box:nth-child(2n) .studio_box-img {
    left: -70px;
    top: -190px;
    width: 660px;
    height: 652px;
}

.studio_box:nth-child(2n + 1) .studio_box-img img,
.studio_box:nth-child(2n) .studio_box-img img {
    width: 100%;
    height: 100%;
}

.studio_box ul {
    list-style: none;
    max-width: 497px;
    width: 100%;
}

.studio_box:nth-child(2n) ul {
    max-width: 555px;
}

.studio_box:nth-child(2n) .studio_box-wrap {
    margin-left: auto;
}

.studio_box ul li {
    position: relative;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.studio_box ul li+li {
    margin-top: 22px;
}

.studio_box ul li:before {
    position: absolute;
    content: "";
    width: 54px;
    height: 7px;
    background: #62FA7F;
    left: -74px;
    top: 50%;
    transform: translateY(-50%);
}

.studio_box-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 29px;
}

.btn {
    background: linear-gradient(133deg, #004EF5 0%, #A239EB 100%);
    box-shadow: 0px 0px 30px 0px #5C32F6;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    line-height: 71px;
    width: 335px;
    height: 71px;
    text-align: center;
    margin: 0 auto;
}

.studio_box:nth-child(2n) {
    flex-direction: row-reverse;
}

.studio_box:nth-child(2n) ul li {
    padding-left: 74px;
}

.studio_box:nth-child(2n) ul li:before {
    position: absolute;
    content: "";
    width: 54px;
    height: 7px;
    background: #62FA7F;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.studio .btn {
    margin-top: 80px;
    z-index: 5;
    position: relative;
}

.title {
    color: var(--text_color);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 43px;
}





.interior {
    margin-top: 187px;
    margin-bottom: 27px;
}

.interior_title {
    margin-bottom: 18px;
}

.interior_text {
    color: var(--text_color);
    font-size: 21px;
    font-weight: 800;
    line-height: 30px;
}

.interior_item {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.interior_item+.interior_item {
    margin-top: 30px;
}

.interior_item-info {
    display: flex;
    align-items: center;
    margin-right: -65px;
    width: 670px;
    flex-shrink: 0;
}

.interior_item:nth-child(1) .interior_item-info {
    margin-right: -15px;
}

.interior_item-icon {
    border: 10px solid #05F500;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    flex-shrink: 0;
    margin-right: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interior_item-icon img {
    transform: rotate(-45deg);
}

.interior_item-text {
    color: var(--text_color);
    font-size: 16px;
    line-height: 30px;
    max-width: 403px;
    width: 100%;
    margin-left: 31px;
}

.interior_item-images {
    display: flex;
    margin-right: -300px;
}

.interior_item-img {
    width: 459px;
    height: 297px;
}

.interior_item-img+.interior_item-img {
    margin-left: 30px;
}

.interior_item-img img {
    width: 100%;
    display: block;
}



.training {
    background: url(../images/training_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 214px 0 151px;
    z-index: 1;
    position: relative;
}

.training_items {
    margin-left: -33px;
    margin-bottom: -33px;
    display: flex;
    flex-wrap: wrap;
}

.training_items>* {
    margin-left: 33px;
    margin-bottom: 33px;
    width: calc(100%/4 - 33px);
}

.training_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 69.96%;
}

.training_item-img img {
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
}

.first-section .training_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 69.96%;
}

.first-section .training_item-img img {
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
}

.training_item-info {
    padding: 0 7px 16px 20px;
    background: #fff;

}

.training_item-title {
    color: #004EF5;
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.training_item-text {
    color: var(--text_color);
    font-size: 16px;
}





.safety {
    background: url(../images/safety_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 206px 0 280px;
    margin-top: -179px;
    z-index: 0;
    position: relative;
}

.safety_title {
    margin-bottom: 71px;
    color: #fff;
}

.safety_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -87px;
    margin-bottom: -50px;
}

.safety_items>* {
    margin-left: 87px;
    margin-bottom: 50px;
    width: calc(100%/2 - 87px);
    display: flex;
    align-items: center;
}

.safety_item-text {
    color: #FFF;
    font-size: 18px;
    max-width: 221px;
    width: 100%;
    margin-left: 30px;
}

.safety_item-img {
    margin-left: -25px;
    width: 305px;
    height: 304px;
}





.income {
    margin-bottom: 32px;
}

.income_wrap-radio {
    display: flex;
    margin-top: 28px;
    margin-left: 12px;
}

.income_wrap-radio div+div {
    margin-left: 35px;
}

.income input[type=radio] {
    display: none;
}

.income label {
    cursor: pointer;
    border: 1px solid var(--text_color);
    background: #EFEFEF;
    width: 62px;
    height: 62px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.income label span {
    color: var(--text_color);
    font-size: 16px;
    font-family: "Unbounded";
    position: relative;
    transition: .2s linear;
    max-width: 100%;
    width: 100%;
    overflow-wrap: break-word;
    transform: rotate(-45deg);
    display: block;
    padding-left: 23px;
}

.income label:after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 62px;
    height: 62px;
    margin: auto;
    content: '';
    transition: opacity .2s linear;
    opacity: 0;
    border: none;
    border: 10px solid #06F402;
}

.income input:checked+label:after {
    opacity: 1;
}

.income_title {
    margin-bottom: 35px;
}

.income_wrap {
    display: flex;
    justify-content: space-between;
}

.income_left {
    width: calc(100% - 380px);
}

.income_wrap-title {
    color: var(--text_color);
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 21px;
}

.income_item {
    display: flex;
    align-items: center;
}

.income_item .income_item-img {
    margin-top: -20px;
    margin-left: 16px;
    width: 239px;
    height: 307px;
}

.income_item .income_item-img img {
    width: 100%;
    height: 100%;
}

.income_item:nth-child(2) .income_item-img {
    margin-left: -115px;
    margin-top: -63px;
    width: 447px;
    height: 414px;
}

.income_item:nth-child(2) .income_item-img img {
    width: 100%;
    height: 100%;
}

.income_item-info {
    margin-left: 97px;
    margin-top: -35px;
}

.income_item:nth-child(2) .income_item-info {
    margin-left: 21px;
}

.income_item-title {
    color: var(--text_color);
    font-size: 21px;
    margin-bottom: 7px;
    font-weight: 500;
}

.income_item-price {
    color: var(--text_color);
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 4px;
}

.income_item-col {
    color: var(--text_color);
    font-size: 16px;
    font-weight: 300;
}

.income_right {
    width: 364px;
    flex-shrink: 0;
    padding-left: 40px;
}

.income_box {
    margin-bottom: 38px;
}

.income_box-title {
    color: var(--text_color);
    font-size: 16px;
    margin-bottom: 16px;
}

.income_box-summa {
    color: var(--text_color);
    font-size: 36px;
    margin-bottom: 6px;
}

.income_box-text {
    color: #B2B2B2;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 28px;
    max-width: 250px;
    width: 100%;
}

.income_box-title.mb6 {
    margin-bottom: 6px;
}

.income .btn {
    margin-left: -10px;
}




.vacancy_title {
    margin-bottom: 30px;
}

.vacancy_item+.vacancy_item {
    margin-top: 45px;
}

.vacancy_item-title {
    color: var(--text_color);
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.vacancy_item-text {
    color: var(--text_color);
    font-size: 16px;
    margin-bottom: 26px;
}

.vacancy .btn {
    margin-left: 0;
}





.callback {
    background: url(../images/callback_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0 330px;
    z-index: 0;
    margin-top: 0px;
}

.callback_title {
    margin-bottom: 68px;
}

.callback_wrap {
    display: flex;
}

.callback form {
    max-width: 555px;
    width: 100%;
    margin-right: 151px;
}

.form_title {
    color: var(--text_color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 46px;
}

form .line .field {
    margin-bottom: 36px;
}

form .line .field input {
    border: none;
    border-bottom: 1px solid var(--text_color);
    background: none;
    width: 100%;
    color: var(--text_color);
    font-size: 16px;
    font-family: "Unbounded";
    padding-bottom: 12px;
}

form .line .field input::-webkit-input-placeholder {
    color: var(--text_color);
    font-size: 16px;
    font-family: "Unbounded";
}

form .line .field input::-moz-placeholder {
    color: var(--text_color);
    font-size: 16px;
    font-family: "Unbounded";
}

form .line .field input:-moz-placeholder {
    color: var(--text_color);
    font-size: 16px;
    font-family: "Unbounded";
}

.callback .btn {
    margin: 0 0 auto 0;
}

.callback_soc a {
    color: var(--text_color);
    font-size: 21px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: all .4s;
}

.callback_soc a:hover {
    color: #004EF5;
}

.callback_soc a+a {
    margin-top: 17px;
}

.callback_soc a:nth-child(1):before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: -45px;
    top: -2px;
    background: url(../images/telegram.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.callback_soc a:nth-child(2):before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: -45px;
    top: -2px;
    background: url(../images/whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}



footer {
    background: url(../images/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 214px 0 40px;
    margin-top: -279px;
    z-index: 0;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    display: flex;
}

.footer_box+.footer_box {
    margin-left: 95px;
}

.footer_box ul {
    display: flex;
}

.footer_box ul li a {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    transition: all .4s;
}

.footer_box ul li a img {
    width: 20px;
    height: 20px;
}

.footer_box ul li a:hover {
    color: #004EF5;
}

.footer_box ul li a img {
    display: block;
    margin-right: 9px;
}

.footer_box ul li+li {
    margin-left: 28px;
}

.footer_box-title {
    color: #FFF;
    font-size: 21px;
    margin-bottom: 15px;
}

.footer_right a {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-size: 21px;
    white-space: nowrap;
    transition: all .4s;
}

.footer_right a:hover {
    color: #004EF5;
}

.footer_right a+a {
    margin-top: 17px;
}

.footer_bottom {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer_copy {
    color: #FFF;
    font-size: 14px;
}

.footer_politic {
    color: #FFF;
    font-size: 14px;
}

.footer_politic a {
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    transition: all .4s;
}

.footer_politic a:hover {
    color: #004EF5;
}

.text_block {
    margin-top: 33px;
    margin-bottom: 350px;
}

.text_block-title {
    margin-bottom: 10px;
    color: var(--text_color);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.67;
}

.text_block h2 {
    color: var(--text_color);
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 400;
}

.text_block p {
    color: var(--text_color);
    font-size: 16px;
    line-height: 1.5;
}

.text_block p a {
    text-decoration: none;
    color: var(--text_color);
    font-size: 16px;
    line-height: 1.5;
}